<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/edit.css">
    <title><%- title %></title>
</head>
<body>
  <header class="navbar-fixed">
    <nav>
        <div class="nav-wrapper black">
            <div class="container">
                <a href="/" class="bold brand-logo left">TOTR</a>
                <div class="right">
                  <a class="hover-gold margin-right-20" href="/reviews">Reviews</a>
                  <a class="hover-gold" href="/dashboard">Dashboard</a>
                </div>
            </div>
        </div>
    </nav>
  </header>

    <%- body %>
    <footer id="footer" class="page-footer black">
      <div class="footer-copyright">
        <div class="container center">
            <a class="white-text bold" target="_blank" href="https://github.com/HSargeant/type-of-the-town">© 2022 TOTT SQUAD</a>
        </div>
      </div>
  </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
      });

      document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.autocomplete');
          var instances = M.Autocomplete.init(elems, {
              data: {
              "Andorra": null,
              "United Arab Emirates": null,
              "Afghanistan": null,
              "Antigua and Barbuda": null,
              "Anguilla": null,
              "Albania": null,
              "Armenia": null,
              "Angola": null,
              "Antarctica": null,
              "Argentina": null,
              "American Samoa": null,
              "Austria": null,
              "Australia": null,
              "Aruba": null,
              "Åland Islands": null,
              "Azerbaijan": null,
              "Bosnia and Herzegovina": null,
              "Barbados": null,
              "Bangladesh": null,
              "Belgium": null,
              "Burkina Faso": null,
              "Bulgaria": null,
              "Bahrain": null,
              "Burundi": null,
              "Benin": null,
              "Saint Barthélemy": null,
              "Bermuda": null,
              "Brunei Darussalam": null,
              "Plurinational State of Bolivia": null,
              "Bonaire, Sint Eustatius and Saba": null,
              "Brazil": null,
              "Bahamas": null,
              "Bhutan": null,
              "Bouvet Island": null,
              "Botswana": null,
              "Belarus": null,
              "Belize": null,
              "Canada": null,
              "Cocos (Keeling) Islands": null,
              "Democratic Republic of the Congo": null,
              "Central African Republic": null,
              "Congo": null,
              "Switzerland": null,
              "Côte d'Ivoire": null,
              "Cook Islands": null,
              "Chile": null,
              "Cameroon": null,
              "China": null,
              "Colombia": null,
              "Costa Rica": null,
              "Cuba": null,
              "Cabo Verde": null,
              "Curaçao": null,
              "Christmas Island": null,
              "Cyprus": null,
              "Czechia": null,
              "Germany": null,
              "Djibouti": null,
              "Denmark": null,
              "Dominica": null,
              "Dominican Republic": null,
              "Algeria": null,
              "Ecuador": null,
              "Estonia": null,
              "Egypt": null,
              "Western Sahara": null,
              "Eritrea": null,
              "Spain": null,
              "Ethiopia": null,
              "Finland": null,
              "Fiji": null,
              "Falkland Islands (Malvinas)": null,
              "Federated States of Micronesia": null,
              "Faroe Islands": null,
              "France": null,
              "Gabon": null,
              "United Kingdom of Great Britain and Northern Ireland": null,
              "Grenada": null,
              "Georgia": null,
              "French Guiana": null,
              "Guernsey": null,
              "Ghana": null,
              "Gibraltar": null,
              "Greenland": null,
              "Gambia": null,
              "Guinea": null,
              "Guadeloupe": null,
              "Equatorial Guinea": null,
              "Greece": null,
              "South Georgia and the South Sandwich Islands": null,
              "Guatemala": null,
              "Guam": null,
              "Guinea-Bissau": null,
              "Guyana": null,
              "Hong Kong": null,
              "Heard Island and McDonald Islands": null,
              "Honduras": null,
              "Croatia": null,
              "Haiti": null,
              "Hungary": null,
              "Indonesia": null,
              "Ireland": null,
              "Israel": null,
              "Isle of Man": null,
              "India": null,
              "British Indian Ocean Territory": null,
              "Iraq": null,
              "Islamic Republic of Iran": null,
              "Iceland": null,
              "Italy": null,
              "Jersey": null,
              "Jamaica": null,
              "Jordan": null,
              "Japan": null,
              "Kenya": null,
              "Kyrgyzstan": null,
              "Cambodia": null,
              "Kiribati": null,
              "Comoros": null,
              "Saint Kitts and Nevis": null,
              "Democratic People's Republic of Korea": null,
              "Republic of Korea": null,
              "Kuwait": null,
              "Cayman Islands": null,
              "Kazakhstan": null,
              "Lao People's Democratic Republic": null,
              "Lebanon": null,
              "Saint Lucia": null,
              "Liechtenstein": null,
              "Sri Lanka": null,
              "Liberia": null,
              "Lesotho": null,
              "Lithuania": null,
              "Luxembourg": null,
              "Latvia": null,
              "Libya": null,
              "Morocco": null,
              "Monaco": null,
              "Republic of Moldova": null,
              "Montenegro": null,
              "Saint Martin, (French part)": null,
              "Madagascar": null,
              "Marshall Islands": null,
              "North Macedonia": null,
              "Mali": null,
              "Myanmar": null,
              "Mongolia": null,
              "Macao": null,
              "Northern Mariana Islands": null,
              "Martinique": null,
              "Mauritania": null,
              "Montserrat": null,
              "Malta": null,
              "Mauritius": null,
              "Maldives": null,
              "Malawi": null,
              "Mexico": null,
              "Malaysia": null,
              "Mozambique": null,
              "Namibia": null,
              "New Caledonia": null,
              "Niger": null,
              "Norfolk Island": null,
              "Nigeria": null,
              "Nicaragua": null,
              "Netherlands": null,
              "Norway": null,
              "Nepal": null,
              "Nauru": null,
              "Niue": null,
              "New Zealand": null,
              "Oman": null,
              "Panama": null,
              "Peru": null,
              "French Polynesia": null,
              "Papua New Guinea": null,
              "Philippines": null,
              "Pakistan": null,
              "Poland": null,
              "Saint Pierre and Miquelon": null,
              "Pitcairn": null,
              "Puerto Rico": null,
              "State of Palestine": null,
              "Portugal": null,
              "Palau": null,
              "Paraguay": null,
              "Qatar": null,
              "Réunion": null,
              "Romania": null,
              "Serbia": null,
              "Russian Federation": null,
              "Rwanda": null,
              "Saudi Arabia": null,
              "Solomon Islands": null,
              "Seychelles": null,
              "Sudan": null,
              "Sweden": null,
              "Singapore": null,
              "Saint Helena, Ascension and Tristan da Cunha": null,
              "Slovenia": null,
              "Svalbard and Jan Mayen": null,
              "Slovakia": null,
              "Sierra Leone": null,
              "San Marino": null,
              "Senegal": null,
              "Somalia": null,
              "Suriname": null,
              "South Sudan": null,
              "Sao Tome and Principe": null,
              "El Salvador": null,
              "Sint Maarten, (Dutch part)": null,
              "Syrian Arab Republic": null,
              "Eswatini": null,
              "Turks and Caicos Islands": null,
              "Chad": null,
              "French Southern Territories": null,
              "Togo": null,
              "Thailand": null,
              "Tajikistan": null,
              "Tokelau": null,
              "Timor-Leste": null,
              "Turkmenistan": null,
              "Tunisia": null,
              "Tonga": null,
              "Turkey": null,
              "Trinidad and Tobago": null,
              "Tuvalu": null,
              "Taiwan, Province of China": null,
              "United Republic of Tanzania": null,
              "Ukraine": null,
              "Uganda": null,
              "United States Minor Outlying Islands": null,
              "United States of America": null,
              "Uruguay": null,
              "Uzbekistan": null,
              "Holy See": null,
              "Saint Vincent and the Grenadines": null,
              "Bolivarian Republic of Venezuela": null,
              "Virgin Islands, British": null,
              "Virgin Islands, U.S.": null,
              "Viet Nam": null,
              "Vanuatu": null,
              "Wallis and Futuna": null,
              "Samoa": null,
              "Yemen": null,
              "Mayotte": null,
              "South Africa": null,
              "Zambia": null,
              "Zimbabwe": null,
          }
      });
      });
    </script>
</body>
</html>