<section class="hero">
  <div class="container center">
    <h1 class="hero-title">TOTR</h1>
    <div class="center">
      <h2 class="hero-tagline">taste of the <br> town reviews</h2>
    </div>
  </div>
</section>

<div class="banner bg-gold height-100px">
  <div class="container center">
      <div class="slider">
        <ul class="slides">
          <li>
            <div class="center-align">
              <p class="italics">Discover new things to taste in YOUR town.</p>
            </div>
          </li>
          <li>
            <div class="center-align">
              <p class="italics">Keep public and private notes on the restaurants you have tried.</p>
            </div>
          </li>
          <li>
            <div class="center-align">
              <p class="italics">Read and write reviews without the annoying photos.</p>
            </div>
          </li>
        </ul>
      </div>
  </div>
</div>
<main class="container main center">
  <div class="flex-column-justify-center">
    <div class="row no-margin">
      <div class="col s8 offset-s2 m6 offset-m3 l4 offset-l4 input-field no-margin-bottom margin-top-40">
        <a href="/login" tabindex="6" class="btn black white-text waves-effect waves-light modal-submit width-100 black-text hover-gold">login
        </a>
      </div>
    </div>
    <div class="row no-margin">
      <div class="col s8 offset-s2 m6 offset-m3 l4 offset-l4 input-field margin-top-6">
        <a href="/signup" class="btn black-border white black-text waves-effect waves-light modal-submit width-100 hover-gold">sign up
          </a>
      </div>
    </div>
    <div class="row no-margin">
      <div class="col s8 offset-s2 m6 offset-m3 l4 offset-l4 input-field">
        <a href='/reviews' class="black-text hover-gold">READ REVIEWS</a>
      </div>
    </div>
  </div>
</main>