* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fcfcfc;
}

main {
    flex: 1 0 auto;
    max-width: 1400px;
}

h1 {
    margin: 2rem 0;
}
h2 {
    margin: 60px;
}
h5 {
    margin: 1rem 0;
}

#footer {
    padding: 0;
}


.width-100 {
    width: 100% !important;
}

.width-vw {
    width: 100vw;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.row.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.padding-20 {
    padding: 20px;
}

.bold {
    font-weight: 700;
}

.text-orange {
    color: #FFC700;
}

a.dropdown-trigger {
    height: 22.5px;
}

.flex {
    display: flex;
}

.align-items-flex-end {
    align-items: flex-end !important;
}

.bg-gold {
    background-color: #FFC700;
}

.gold-text {
    color: #FFC700;
}

.fixed-action-btn {
    right: 60px;
    bottom: 60px;
}

.input-field input:focus + label {
    color: #FFC700 !important;
}

.input-field input:focus {
    border-bottom: 1px solid #FFC700 !important;
    box-shadow: 0 1px 0 0 #FFC700 !important;
}

.btn.modal-submit {
    background-color: #FFC700 !important;
}

ul.dropdown-content.select-dropdown li span {
    color: black !important;
}

.input-field input.valid {
    border-bottom: 1px solid #FFC700 !important;
    box-shadow: 0 1px 0 0 #FFC700 !important;
}

.input-field input.invalid {
   border-bottom: 1px solid red !important;
   box-shadow: 0 1px 0 0 red !important;
}

.material-icons.active {
    color: #FFC700 !important;
}

.btn {
    font-family: 'Poppins', sans-serif;
}

.brand-logo:hover {
    color: #FFC700 !important;
}

.hover-gold:hover{
    color: #FFC700 !important;
}
ul span {
    color: black !important;
}

.container-1280 {
    max-width: 1280px !important
}