<main class="container main">
    <div class="container center">
        <h1>Server Error</h1>
        <p>We're sorry, something went wrong</p>
        <a href="/reviews" class="btn">Go Home</a>
    </div>
</main>